
  * {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  flex-wrap: wrap;
}

html {
  scroll-behavior: smooth;
}


header {
  padding: 50px;
  display: inline-block;
  display:flex;
  flex-direction: row;
}

header h1 {
  font-weight: bold;
  display:flex;
  flex-direction: row;
  position: absolute;
  top: 100px;
  left: 450px;
  background-color: black;
}

header  ul li a {
  flex-direction: row;
  align-self: row;
}

.elisaspicture {
  height: 300px;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0px;
  float: right;
  margin-left: 25px;
}

.containerTwo {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.one {
  height:500px;
  padding-right: 5%;
  padding-left: 5%;
  position: relative;
}

.two {
  height: 200px;
  padding-top: 5%;
  padding-left: 27%;
  position: relative;
}

div h2{
  margin-top: 10px;
  font-style: oblique;
  background-color: black;
}

.contactinfo ul a {
  display: flex;
  flex-wrap: wrap;
  color: whitesmoke;
  flex-direction: row;
  float: left;
  text-align: center;
  padding: 18px 100px;
  text-decoration: none;
  font-size: 17px;

}

.contactinfo ul a:hover,
.contactinfo ul a:focus {
   color: grey;
}

body{
  color:lavender;
  font-family:Arial, Helvetica, sans-serif;
  background-color:tan;
}

h2 {
  background-color: black;
}

.containerOne nav a {
  color: whitesmoke;
  flex-direction: row;
  float: left;
  text-align: center;
  padding: 0px 100px;
  text-decoration: none;
  font-size: 17px;
}

.containerOne nav a:hover,
.containerOne nav a:focus {
  color:grey;

}

.othercontainer p img {
  font-weight: bold;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: 500px;
  float: left;
}

.coding-02 {
  height: 300px;
  flex-wrap: wrap;
  width: 100%;
}